
  <div class="col-md-6">
    <label for="inputTitle" class="form-label">Title</label>
    <input type="text" class="form-control" id="inputTitle" name="title" value="{{book.title}}" required>
  </div>
  <div class="col-md-6">
    <label for="inputAuthors" class="form-label">Authors</label>
    <input type="text" class="form-control" id="inputAuthors" name="authors" value="{{book.authors}}" required>
  </div>
  <div class="col-12">
    <label for="inputImageLink" class="form-label">Image link</label>
    <input type="text" class="form-control" id="inputImageLink" name="imageLink" value="{{book.imageLink}}" placeholder="https://your-book-image-link.com/images/12345.jpg" required>
  </div>
  <div class="col-12">
    <label for="inputDescription" class="form-label">Description</label>
    <textarea type="text" maxlength="350" class="form-control" id="inputDescription" rows="5" placeholder="Short Description" name="description" required>{{book.description}}</textarea>
  </div>
  <div class="col-md-4">
    <label for="inputCategory" class="form-label">Category</label>
    <select id="inputCategory" class="form-select" name="category" value="{{book.category}}" required>
      <option value="Languages" selected>Languages</option>
      <option value="Frameworks">Frameworks</option>
      <option value="Data Structures & Algorithms">Data Structures & Algorithms</option>
      <option value="Design Patterns">Design Patterns</option>
      <option value="System Design">System Design</option>
    </select>  
  </div>
  <div class="col-md-4">
    <label for="inputLevel" class="form-label">Level</label>
    <select id="inputLevel" class="form-select" name="level" value="{{book.level}}" required>
      <option value="All levels" selected>All levels</option>
      <option value="Junior">Junior</option>
      <option value="Middle">Middle</option>
      <option value="Senior">Senior</option>
    </select>
  </div>
  <div class="col-md-4">
    <label for="inputYear" class="form-label">Year</label>
    <input type="text" class="form-control" id="inputYear" placeholder="2021" name="year" maxlength="4" pattern="\d{4}" value="{{book.year}}" required>
  </div>