<div class="row justify-content-center">
    <div class="card col-sm-6 m-2 text-center">
    <img src="{{book.imageLink}}" class="card-img-top mt-3" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{book.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{book.authors}}</h6>
        <p class="card-text">{{book.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Category: {{book.category}}</li>
        <li class="list-group-item">Level: {{book.level}}</li>
        <li class="list-group-item">Year: {{book.year}}</li>
        <li class="list-group-item">Rating: </li>
    </ul>
    </div>
</div>